.wrapper {
    margin: 0 auto;
    margin-top: 43px;
    margin-bottom: 63px;
    /* position: absolute; */
    width: 95%;
    height: 1409px;
    /* left: 45px;
    top: 43px; */

    background: #FFFFFF;
    border-radius: 10px;
}