.Card {
    width: 280px;
    height: 459px;
    padding:10px;
    

    display: flex;
    flex-direction: column;
}

.pizzaImg {
    width: 259px;
    height: 260px;
    object-fit: cover;
}
.pizzaImg img{
   margin-left: 5px;
}

.pizzaName {
    text-transform: capitalize;
    margin: 8px auto;
    height: 30px;

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
}

.pizzaType {
    width: 280px;
    height: 85px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;

    background: #F3F3F3;
}



.pizzaTop {
    display: flex;
    justify-content: space-evenly;

}

.pizzaTop button {
    display: flex;
    width: 131px;
    height: 28px;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    background: #FFFFFF;
    border: none;

    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;

    font-size: 14px;
}

.pizzaBottom {
    display: flex;
    justify-content: space-evenly;
}

.pizzaBottom button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31%;
    border-radius: 5px;
    height: 28px;
    font-weight: 600;
    font-size: 14px;
    border: none;
}

.pizzaBtn {
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    width: 100%;
    height: 60px;
}

.pizzaPrice {
    font-weight: 700;
    font-size: 22px;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnAdd {
    width: 155px;
    height: 40px;

    background: #FFFFFF;
    border: 1px solid #EB5A1E;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #EB5A1E;
    cursor: pointer;
    transition: 0.3s;
}

.btnAdd:hover {
    background-color: #EB5A1E;
    color: #fff;
}

.btnPlus {
    color: #EB5A1E;
}

.btnPlus:hover {
    transition: 1s;
    background-color: #EB5A1E;
    color: #EB5A1E;
}