.noHeader {
    width: 1290px;
    height: 980px;
    background-color: #fff;
    border: 30px solid #FFDF8C;
}

.pusta {
    position: absolute;
    width: 241px;
    height: 39px;
    left: 583px;
    top: 250px;

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

    letter-spacing: 0.01em;

    color: #000000;
}

.emoji {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 250px;
    top: 3px;
}

.korzinatext1 {
    position: absolute;
    width: 547px;
    height: 52px;
    left: 451px;
    top: 313px;

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145.4%;

    text-align: center;
    letter-spacing: 0.01em;

    color: #777777;

}

.korzinaimg {
    position: absolute;
    left: 570px;
    top: 450px;
}

.korzinaBtn {
    cursor: pointer;
    position: absolute;
    width: 210px;
    height: 46px;
    left: 615px;
    top: 821px;

    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.015em;

    background: #282828;
    border-radius: 30px;

    color: #FFFFFF;
}